{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/vehicle_details.css' %}">
    <title>{% block title %}Hello Tractor{% endblock %}</title>
</head>

<body>
    <section class="navigation-sec">
        <!-- <nav>
        <div class="nav-container">
            <div class="logo">
                <img src="https://api.iconify.design/lucide:car.svg?color=%2322c55e" alt="Logo" class="logo-icon">
                <span>MyMoti</span>
            </div>
            <div class="nav-links">
                <a href="#">Home</a>
                <a href="#">Vehicles</a>
                <a href="#">Dealers</a>
                <a href="#">Garage & Carwash</a>
            </div>
            <button class="sell-button">Sell a Vehicle</button>
        </div>
    </nav> -->
    <nav>
        <div class="header-sec">
            <div class="logo">
                <img src="https://api.iconify.design/lucide:tractor.svg?color=%23e23333" alt="" srcset="" class="logo-icon">
                <span>My Logo</span>
            </div>
            <div class="nav-container">
                <!-- Hamburger Menu Icon -->
                <div class="hamburg-menu">
                    <i class="fa-solid fa-bars"></i>
                </div>
    
                <!-- Navigation Links and Sell Button -->
                <div class="menu-content">
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Tractors</a></li>
                        <li><a href="#">Dealers</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'account_logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'account_login' %}">Login</a></li>
                            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                    <div class="sell-btn">
                        <button type="button">Sell a Tractor</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    </section>

    {% block content %}

    {% endblock %}

    {% include 'main/footer.html' %}
    <script>
        console.log('Hello from main.js');
        document.addEventListener('DOMContentLoaded', () => {
            const hamburgMenu = document.querySelector('.hamburg-menu');
            const menuContent = document.querySelector('.menu-content');

            hamburgMenu.addEventListener('click', () => {
                menuContent.classList.toggle('show'); // Toggle visibility
            });
        });

    </script>
    <script src="https://kit.fontawesome.com/11055935d8.js" crossorigin="anonymous"></script>
    <!-- <script src="{% static 'js/main.js' %}"></script> -->
    <script src="{% static 'js/main.js' %}?v=1"></script>

</body>

</html>