{% load static %}
{% load hosts %} 
 <!-- Footer -->
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
 <footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>About Hello Tractor</h3>
            <p>Your trusted platform for buying and selling Tractors in Kenya.</p>
            <div class="social-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
        </div>
        <div class="footer-section" id="footer-sec">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{% host_url 'homepage' host 'root' %}">Home</a></li>
                <li><a href="#">Tractors</a></li>
                <li><a href="#">Dealers</a></li>
                <li><a href="#footer-sec">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contact</h3>
            <ul>
                <li>Email: info@hellotractor.com</li>
                <li>Phone: +254 700 000 000</li>
                <li>Nairobi, Kenya</li>
            </ul>
        </div>

        <div class="footer-section">
            <div class="company-info">
                <h1>Subscribe to our Newsletter</h1>
                <form action="{% host_url 'homepage' host 'root' %}" method="post">
                    {% csrf_token %}
                  <input type="email" name="email" id="email" placeholder="Enter your email">
                  <button title="subscribe" type="submit">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </form>
              </div>
        </div>
    </div>
</footer>